#canvas{
    background-image: url(/docs/assets/images/court.jpg);
    background-repeat: no-repeat;
    background-size:cover
  }

  #div1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  margin-top: 50px;
  }

  #div2{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  border: 4px solid black;
  height: 700px;
  width: 400px;
  margin-right: 100px;
  }