@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
  background-image: url(../images/htmlbackground.jpg);
  background-repeat: no-repeat;
    background-size:cover;
}

#canvas{
    background-image: url(../images/court.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 20px;
  }



  #again-button{
  width: 300px;
  height: 80px;
  border: 2px solid black;
  color: black;
  background-color: rgb(229, 255, 0);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  display: none;
  }

  #again-button:hover{
    box-shadow: inset 300px 0 0 0 rgb(255, 0, 68);;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }


  #second-buttons{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: stretch;
  }



  #game1{
    width: 150px;
    height: 80px;
    border: 2px solid black;
    color: black;
    background-color: rgb(229, 255, 0);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #000000;
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    display: none;
    margin-right: 10px;
    text-align: center;
  }

  #game1:hover{
    box-shadow: inset 0 0 0 150px rgb(255, 0, 68);;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }

  #game2{
    width: 150px;
    height: 80px;
    border: 2px solid black;
    color: black;
    background-color: rgb(229, 255, 0);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #000000;
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    display: none;
    text-align: center;
  }


  #game2:hover{
    box-shadow: inset 0 0 0 150px rgb(255, 0, 68);;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }

#start-button{
  width: 300px;
  height: 80px;
  border: 2px solid black;
  color: black;
  background-color: rgb(229, 255, 0);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
}



#start-button:hover{
  box-shadow: inset 300px 0 0 0 rgb(255, 0, 68);;
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
}

  #div1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  margin-top: 50px;
  }

  #div2{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  height: 600px;
  width: 300px;
  margin-right: 50px;
  text-align: center;
  font-family: Luckiest Guy;
  }

  #quote{
    font-size: 1.2rem;
  }

  .arrows-img {
    width: 180px;
    padding-bottom: 15px;
  }

  .houstonlogo{
    width: 270px;
    height: 265px;
  }